@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply bg-green-200 rounded-lg h-8 w-36 font-medium
    }
    button:hover {
        @apply bg-green-300
    }
}

.max-w-19\/20 {
    max-width: 95%;
}

.w-preview {
    width: 32rem;
}

.w-quiz {
    width: 36rem;
}

.h-preview-container {
    height: (40-70)rem;
}

.h-42 {
    height: 10.55rem;
}

.content-box {
    @apply bg-gray-50 border-2 border-solid border-gray-400 rounded-3xl p-2 drop-shadow-lg flex flex-col
}

ul li {
    margin-bottom: 10px;
}
